:root {
   //TYPOGRAPHY========================================================================================================================================================
   //Шрифт по умолчанию
   --font: 'Inter';
   //Основной цвет текста
   --base-text-color: #ffffff;
   //Цвет текста который реализован градиентом
   --gradient-text-color: linear-gradient(135deg, #f19646, #f19646);
   // **Если необходим цвет текста без градиента необходимо указывать два раза одинаковый цвет
   // **Пример linear-gradient(135deg,rgb(255, 255, 255),rgba(255, 255, 255)

   //MAIN BG========================================================================================================================================================
   // Цвет Body
   --bg-body: #f9f8f8;
   // Цвет wrapper
   --bg-wrapper: url('@img/main-lines.png') -70px 0% / auto no-repeat,
      url('@img/main-bg.jpg') 0 0 / cover no-repeat;

   //BURGER========================================================================================================================================================
   //Фоновый цвет бургера
   --burger-bg: linear-gradient(135deg, #5c5c5c 0%, #f0ccac 200%);
   //Закругление бургера
   --burger-border-radius: 20px;
   //Цвет иконки бургера
   --burger-icon-color: #ffffff;
   //Цвет заголовков в бургере
   --burger-list-title: #ffffff;
   //Цвет активного языка
   --burger-lang-item-color-active: #f19646;

   //TABS========================================================================================================================================================
   //Фоновый цвет табов
   --tabs-bg: rgba(91, 91, 93, 0.5);
   //Цвет текста табов
   --tabs-text-color: #f19646;
   // Фоновый цвет активного таба
   --tabs-active-bg: #f19646;
   // Цвет текста активного таба
   --tabs-text-active-color: #ffffff;
   // Закругление табов
   --tabs-border-radius: 12px;

   //SCREEN========================================================================================================================================================
   // Цвет фона экрана
   --screen-bg: #5b5b5d;
   // Цвет бордера экрана
   --screen-border-color: #f19646;
   // Закругление экрана
   --screen-border-radius: 16px;
   // Цвет фонового изображения под экраном
   --screen-img-bg: rgba(241, 150, 70, 0.3);
   // Размер фонового изображения под экраном
   --screen-img-bg-size: 320px;
   // Цвет кавычек в цытате
   --quote-color: #f19646;
   // Фон лейбла
   --label-bg: #f19646;
   // Цвет текста лейбла
   --label-text-color: #ffffff;
   // Цвет булита
   --pagination-bg: #ffffff;
   // Цвет активого булита
   --pagination-bg-active: #f19646;
   //BUTTONS========================================================================================================================================================
   // Фон кнопки
   --button-bg: #f19646;
   // Цвет текста кнопки
   --button-text-color: #ffffff;

   //FORM========================================================================================================================================================
   // Фон инпута
   --input-bg: linear-gradient(
      135deg,
      #ffffff 0%,
      rgba(241, 150, 70, 0.3) 200%
   );
   // Цвет  текста инпута
   --input-text-color: #4f4f4f;
   // Цвет ошибки валидации инпута
   --input-error-color: red;

   //LOADERS========================================================================================================================================================
   // Фон основного лоадера сайта
   --site-loader-bg: #919192;
   // Цвет самого лойдера
   --sity-loader-color-1: #4f4f4f;
   // Цвет самого лойдера
   --sity-loader-color-2: #f19646;
   // Цвет лоадера для картинок/информации
   --lazy-loader-color: #f19646;
   // Размер лоадера для картинок/информации
   --lazy-loader-size: 30px;

   //ANIMATION========================================================================================================================================================
   // Анимация при первом переходе на слайд
   --cb: cubic-bezier(0.25, 0.46, 0.45, 0.94);

   //UTILS COLOR========================================================================================================================================================
   --white: #4f4f4f;
   --black: #000000;
}
